.hood-title {
    font-size: 36px;
    color: white;
}

.hood-text {
    font-size: 24px;
    color: white;
}

.hood-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}